*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
}



@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;600;700;800;900&display=swap');

.main{
    &__container{
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        
    }

    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 70px 0 100px ;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

}

.mainHeader{
    &__nav{
        display: flex;
        flex-direction: row;

        h2{
            cursor: pointer;
        }
        
    }

    &__nav-selected{
        color: #A0A1AC;
        cursor: pointer;
    }

    &__nav-dot{
        width: 11px;
        height: 11px;
        background-color: #A0A1AC;
        border-radius: 50%;
        margin-top: 10px;
        margin-right: 60px;
    }

    h2{
        margin-right: 60px;
    }

}

.mainContent{
    &__punct{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
    }

    &__title{
        width: 600px;
        margin-bottom: 50px;
        h1{
            font-weight: 700;
            font-size: 80px;
            color: #242942;
        }
    }

    &__text{
        width: 300px;
        margin-bottom: 65px;
        p{
            font-weight: 300;
            font-size: 30px;
        }
    }

    &__btnBlock{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.punct{
    &__block{
        padding: 10px;
        background-color: #242942;
        margin-right: 30px;
        border-radius: 23px;
        cursor: pointer;

        h2{
            color: rgb(255, 255, 255);
        }
    }

    &__description{
        h2{
            font-weight: 300;
            letter-spacing: 9px;
            color: #A0A1AC;
        }
    }
}

.btnBlock{
    &__btn{
        padding: 30px;
        background-color: #FF5C5C;
        border-radius: 15px;
        margin-right: 50px;
        cursor: pointer;

        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 20px;
            letter-spacing: 3px;
        }
    }

    &__btnDescription{
        h2{
            font-weight: 300;
            letter-spacing: 9px;
            color: #A0A1AC;
        }
    }
}

.bg{
    top: -70px; 
    right: 0px;
    position: absolute;
    background-color: #edeff2;
    border-radius: 0 0 0 50px;
    width: 950px;
    height: 650px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.bgimg{
    position: absolute;
    width: 1200px;
    height: 650px;
    background-size: cover;
    
    background-repeat: no-repeat;
    top: 140px; 
    right: -400px;
    z-index: -1;
    background-image: url('../img/illustration-devices.svg');
}
